doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
    link(rel="stylesheet", href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="https://cdn.bootcss.com/layer/3.1.0/layer.js")  
  body
    block content
